{{!< default}}

{{#contentFor "page-title"}}Archives &bull; {{@site.title}}{{/contentFor}}

<main role="main" class="archive">

    <h1>Blog Archive</h1>

    <ol>
        {{#get "posts" limit="all" order="published_at desc"}}
            {{#foreach posts}}
                <li class="post post-date-{{date format="M"}} h-entry">
                    <div class="post-label dt-published">{{date format="MMMM YYYY"}}</div>
                    <a class="post-link u-url" href="{{url}}">
                        <span class="post-title p-name">{{title}}</span>
                    </a>
                    <p class="p-summary">{{excerpt}}</p>
                </li>
            {{/foreach}}
        {{/get}}
    </ol>

</main>
