<!DOCTYPE html>

<html lang="{{@site.locale}}">

<head>

    <title>{{meta_title}}</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{asset "built/mulligan.css"}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "apple-touch-icon.png"}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset "favicon-32x32.png"}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset "favicon-16x16.png"}}">
    <link rel="manifest" href="{{asset "site.webmanifest"}}">
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{asset "browserconfig.xml"}}">
    <meta name="theme-color" content="#ffffff">

    {{ghost_head}}

    <script src="https://kit.fontawesome.com/5b28fc2f62.js" crossorigin="anonymous"></script>

</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-YRPVEZTZH7"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-YRPVEZTZH7');
</script>

<body class="{{body_class}}">

    <div id="wrapper">

        <div id="container">

            {{> "header"}}

            {{{body}}}

        </div>

    </div>

    {{> "footer"}}

    {{!-- Scripts go here --}}
    <script src="{{asset "built/scripts.js"}}"></script>

    {{ghost_foot}}

</body>

</html>
