{{!< default}}

{{#post}}

{{#contentFor "page-title"}}{{title}} &bull; {{@site.title}}{{/contentFor}}

<main role="main">

    <article class="{{post_class}} h-entry">

        <section id="metadata">

            {{#if feature_image}}
                <figure class="article-image">
                    {{!-- This is a responsive image, it loads different sizes depending on device
                    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                    <img
                        srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 600w,
                                {{img_url feature_image size="l"}} 1000w,
                                {{img_url feature_image size="xl"}} 2000w"
                        sizes="(min-width: 1400px) 1400px, 92vw"
                        src="{{img_url feature_image size="xl"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    />
                    {{#if feature_image_caption}}
                        <figcaption>{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
            {{/if}}

            <header>

                <div class="tags p-category">
                    {{tags separator=" / "}}
                </div>

                <h1 class="p-name">{{title}}</h1>

                <section id="post-info">
                    <div>Author: 
                        {{#foreach authors}}
                            <a class="p-author h-card" href="https://matthewpennell.com/">{{name}}</a>
                        {{/foreach}}
                    </div>
                    <div>Posted: <time class="dt-published" datetime="{{date format="YYYY-MM-DD"}}">{{date format="dddd MMMM Do, YYYY"}}</time></div>
                    {{#if reading_time}}
                        <div>Reading time: {{reading_time}}</div>
                    {{/if}}
                </section>

                <ul class="share">
                    <li class="facebook"><a href="http://www.facebook.com/sharer/sharer.php?href={{url absolute="true"}}" target="_blank" rel="noopener" class="fa-brands fa-facebook" title="Share this post on Facebook">Facebook</a></li>
                    <li class="twitter"><a href="https://twitter.com/intent/tweet?original_referer={{url absolute="true"}}&text={{title}}&url={{url absolute="true"}}&via=matthewpennell" target="_blank" rel="noopener" class="fa-brands fa-twitter" title="Share this post on Twitter">Twitter</a></li>
                    <li class="tumblr"><a href="http://tumblr.com/widgets/share/tool?canonicalUrl={{url absolute="true"}}" target="_blank" rel="noopener" class="fa-brands fa-tumblr" title="Share this post on Tumblr">Tumblr</a></li>
                    <li class="linkedin"><a href="https://www.linkedin.com/sharing/share-offsite/?url={{url absolute="true"}}" target="_blank" rel="noopener" class="fa-brands fa-linkedin" title="Share this post on LinkedIn">LinkedIn</a></li>
                </ul>

            </header>

        </section>

        <div id="post-content" class="e-content">
            <div id="post-content-dropcap"></div>
            {{content}}
            <div id="post-content-end"></div>
            <div id="post-navigation">
                <div id="post-navigation-prev">
                    {{#prev_post}}
                        <span class="post-navigation-label">Previous post</span>
                        <a href="{{url}}">{{title}}</a>
                    {{/prev_post}}
                </div>
                <div id="post-navigation-next">
                    {{#next_post}}
                        <span class="post-navigation-label">Next post</span>
                        <a href="{{url}}">{{title}}</a>
                    {{/next_post}}
                </div>
            </div>
        </div>

        {{#if comments}}
            <section id="comments">
                {{comments}}
            </section>
        {{/if}}

    </article>

</main>

{{/post}}